[SddmGreeterTheme]
Name=Nurunner
Description=Nurunner Theme
Description[ast]=Tema Nurunner
Description[bs]=Nurunner Tema
Description[ca]=Tema Nurunner
Description[ca@valencia]=Tema Nurunner
Description[cs]=Motiv Nurunner
Description[da]=Nurunner-temaet
Description[de]=Nurunner-Design
Description[el]=Θέμα Nurunner
Description[en_GB]=Nurunner Theme
Description[es]=Tema Nurunner
Description[et]=Nurunner teema
Description[fi]=Nurunner-teema
Description[fr]=Thème Nurunner
Description[gl]=Tema Nurunner
Description[he]=ערכת הנושא Nurunner
Description[hu]=Nurunner téma
Description[id]=Tema Nurunner
Description[is]=Nurunner þema
Description[it]=Tema Nurunner
Description[ja]=Nurunner テーマ
Description[ko]=Nurunner 테마
Description[lt]=Nurunner apipavidalinimas
Description[nb]=Nurunner-tema
Description[nds]=Nurunner-Muster
Description[nl]=Thema Nurunner
Description[nn]=Nurunner-tema
Description[pl]=Wystrój Nurunner
Description[pt]=Tema Nurunner
Description[pt_BR]=Tema Nurunner
Description[ru]=Тема «Nurunner»
Description[sr@latin]=Tema Nurunner
Description[sv]=Nurunner-tema
Description[tr]=Nurunner Teması
Description[uk]=Тема «Nurunner»
Author=David Edmundson, David Linares, Ramon Buldó
Copyright=(c) 2014, David Edmundson, David Linares (Mcder3), Ramon Buldó
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/nurunner-linux/nurunner-sddm-theme
Screenshot=nurunner.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=mcder3@gmail.com
Theme-Id=nurunner
Theme-API=2.0
