[SddmGreeterTheme]
Name=Maia
Description=Maia Theme
Description[ast]=Tema Maia
Description[bs]=Maia Tema
Description[ca]=Tema Maia
Description[ca@valencia]=Tema Maia
Description[cs]=Motiv Maia
Description[da]=Maia-temaet
Description[de]=Maia-Design
Description[el]=Θέμα Maia
Description[en_GB]=Maia Theme
Description[es]=Tema Maia
Description[et]=Maia teema
Description[fi]=Maia-teema
Description[fr]=Thème Maia
Description[gl]=Tema Maia
Description[he]=ערכת הנושא Maia
Description[hu]=Maia téma
Description[id]=Tema Maia
Description[is]=Maia þema
Description[it]=Tema Maia
Description[ja]=Maia テーマ
Description[ko]=Maia 테마
Description[lt]=Maia apipavidalinimas
Description[nb]=Maia-tema
Description[nds]=Maia-Muster
Description[nl]=Thema Maia
Description[nn]=Maia-tema
Description[pl]=Wystrój Maia
Description[pt]=Tema Maia
Description[pt_BR]=Tema Maia
Description[ru]=Тема «Maia»
Description[sr@latin]=Tema Maia
Description[sv]=Maia-tema
Description[tr]=Maia Teması
Description[uk]=Тема «Maia»
Author=David Edmundson, David Linares, Ramon Buldó
Copyright=(c) 2014, David Edmundson, David Linares (Mcder3), Ramon Buldó
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/manjaro/artwork-maia
Screenshot=maia.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=mcder3@gmail.com
Theme-Id=maia
Theme-API=2.0
